.post {
    font-size: large;
}

.post p {
    margin-bottom: 1rem;
}

.post h1 {
    font-weight: 300;
}

.post h2 {
    font-size: xx-large;
    font-weight: 500;
    border-bottom: solid 4px rgb(42, 52, 97);
}

.post h3 {
    font-size: x-large;
    font-weight: 500;
    border-bottom: solid 2px rgb(42, 52, 97);
}

.post pre {
    background-color: gray;
    color: white;
    overflow-x: scroll;
    padding: 1rem;
}
