.ql-container {
    font-size: 1rem !important;
}

.ql-editor.ql-editor p {
    margin-bottom: 1rem;
}

.ql-editor.ql-editor h1 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
